.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenido del modal */
.ReactModal__Content {
 /* Fondo oscuro del modal */
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%; /* Responsivo */
  color: #f0f0f0; /* Texto claro para contraste */
  position: relative;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5); /* Sombra suave */
}

/* Botón para cerrar el modal */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #f0f0f0;
  cursor: pointer;
}

/* Botón general */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3; /* Hover oscuro */
}

/* Inputs y select en el modal */
input[type="text"], textarea, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px;
  background-color: #3c3c3c; /* Fondo oscuro para los campos */
  border: none;
  border-radius: 4px;
  color: #f0f0f0; /* Texto claro */
  font-size: 16px;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #ccc; /* Color del placeholder */
}

input[type="text"]:focus, textarea:focus, select:focus {
  outline: none;
  border: 2px solid #007bff; /* Borde en foco */
}

/* Estilo para el textarea */
textarea {
  resize: vertical;
  min-height: 80px;
}

/* Etiquetas del formulario */
label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  color: #f0f0f0;
}

/* Leyenda del fieldset */
legend {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

/* Personalización del select */
select {
  appearance: none; /* Eliminamos el estilo por defecto del select */
  background-color: #3c3c3c;
  color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
}

/* Botón dentro del modal */
button.btn.btn-block {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50; /* Color verde */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.btn.btn-block:hover {
  background-color: #388e3c; /* Hover verde más oscuro */
}
